@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-color: #222121;
    overflow: hidden;
}

.calc{
    width: 70%;
    /* height: 100%; */
    border-right: 1px solid whitesmoke;
}

.operations{
    background: transparent;
    border-radius: 2px;
    overflow: hidden;
    position: absolute;
    bottom: 2px;
}

input{
    width: 100%;
    border: none;
    padding: 28px;
    margin: 10px 0;
    border-radius: 2px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: whitesmoke;
}

input::placeholder{
    color: whitesmoke;
}

button{
    border: none;
    outline: none;
    width: 218px;
    height: 68px;
    margin: 2px 0;
    border-radius: 2px;
    background: rgba(66, 65, 65, 0.5);
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}

.equal-btn{
    background-color: rgb(0, 170, 255);
}

.operator{
    color: teal;
}